<%- include("header"); -%> 

<h1>WELCOME TO THE TO-DO LIST</h1>
<p> ljhfajhdvgljdbfljsdjfgjsdfjdfjdfgbkdjghhggggggggggggdsfkjhgslkdjhgskjd gherhieountwiuvnoiutvoieuytvoiuvnwiuytvoiuynvoiuyoi</p>

<%- include("footer"); -%> 